@import '../commons/common.scss';
.main__body {
  height: calc(100vh - 160px);
  .side__bar__container {
    height: $side-bar-height;
    background-color: $black;
    flex-grow: 1;
    .side__bar {
      width: 100%;
      .create__ride__button,
      .ride__requests,
      .join__ride__button {
        color: $white;
        font-size: 0.9rem;
        display: block;
        width: 8.5rem;
        padding: 0.8rem 0;
        border: none;
        border-radius: 3px;
        transition: 4ms;
        margin: 0.6rem auto;
        outline: none;
        cursor: pointer;
      }
      .create__ride__button {
        background-color: $create-ride;
        &:hover {
          background-color: $create-ride-hover;
        }
      }
      .join__ride__button {
        background-color: $gray;
        &:hover {
          background-color: $join-ride-hover;
        }
      }
      .ride__requests{
        color: $black;
      }
    }
  }
  .main__area__coantainer {
    justify-content: center;
    .ride__form {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      width: 100%;
      form{
        width: 60%;
      }
    }
  }
  .display__rides__container {
    height: $side-bar-height;
    background-color: $gray;
    .display__riders__card {
      padding: 0.6rem;
      width: 100%;
      height: auto;
      .card__container {
        display: flex;
        width: 100%;
        height: auto;
        padding: 10px 0;
        background-color: $white;
        box-shadow: $box-shadow;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 0.7rem;
        .image__area {
          width: 40%;
          height: 100%;
          display: flex;
          .image__container {
            width: 90px;
            height: 90px;
            background-color: $black;
            margin: auto;
            border-radius: 50%;
            overflow: hidden;
            .image {
              width: 100%;
              height: 100%;
            }
          }
        }
        .details__area {
          width: 70%;
          .details {
            font-weight: 700;
            img{
              width: 1rem;
            }
          }
          .join__ride {
            font-size: 0.9rem;
            color: $white;
            padding: 0.7rem 2rem;
            border: none;
            background-color: $create-ride;
            margin: 0.7rem 0;
            border-radius: 5px;
            &:hover {
              cursor: pointer;
              background-color: $create-ride-hover;
            }
          }
        }
      }
    }
  }
  .modal__container{
    height: calc(100vh - 160px);
  }
}
