@import '../commons/common.scss';
.header-container {
  height: 80px;
  color: $white;
  background-color: $black;
  .header-name {
    padding-left: 10px;
    .home-nav {
      color: $white;
      text-decoration: none;
    }
  }
  .pages {
    text-align: right;
    padding-top: 1.7rem;
    .nav-items {
      color: $white;
      margin-right: 15px;
      text-decoration: none;
    }
    .log__out{
      outline: none;
      color: $white;
      background-color: transparent;
      border: none;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
