.container {
  .row {
    padding: 0;
    #banner {
      height: 100vh;
      color: white;
      text-align: center;
      background-image: url('../../assets/images/taxi.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .auth-area {
      justify-content: center;
      h1 {
        text-align: center;
      }
    }
  }
}
