.container {
  .row {
    padding: 0;
    #banner {
      height: 100vh;
      color: white;
      text-align: center;
      background-image: url('../../assets/images/taxi.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    .auth-area {
      justify-content: center;
      h1 {
        text-align: center;
      }
    }
  }
}
