$white: #ffffff;
$red: #ff0000;
$gray: rgb(128, 128, 128);
$green_dark: #339933;
$black: #000000;
$black-hover: #191515;
$box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
$side-bar-height: 100%;
$create-ride:#daa520;
$create-ride-hover:#e9b124;
$join-ride-hover: rgb(58, 55, 55);